@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 4.8% 95.9%;
    --muted: 0 0% 100%;
    --secondary: 0 2% 100;
    --text: 240 10% 3.9%;
    --warning: 0 72% 51%;
    --success: 142 71% 45%;
    --success-secondary: 160 84% 39%;
    --alert: 38 92% 50%;
    --blue: 199 89% 50%;
    --cyan: 189 94% 43%;
    --border: 240 5.9% 90%;
    --primary: 258 90% 66%;
    --primary-btn: 262 83% 58%;
    --destructive: 0 84.2% 60.2%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 16% 4%;
    --secondary: 214 15% 9%;
    --muted: 216 12% 8%;
    --text: 0 0% 98%;
    --warning: 0 84% 60%;
    --success: 142 69% 58%;
    --success-secondary: 161 94% 30%;
    --alert: 43 96% 56%;
    --blue: 198 93% 57%;
    --cyan: 188 86% 53%;
    --border: 240 3.7% 15.9%;
    --primary: 255 92% 76%;
    --primary-btn: 262 83% 58%;
    --destructive: 0 62.8% 30.6%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/iranyekan/IRANYekanXFaNum-Light.woff2") format("woff2");
  }

  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/iranyekan/IRANYekanXFaNum-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/iranyekan/IRANYekanXFaNum-Medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/iranyekan/IRANYekanXFaNum-DemiBold.woff2") format("woff2");
  }

  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/iranyekan/IRANYekanXFaNum-Bold.woff2") format("woff2");
  }

  ::selection {
    background: #8884;
  }

  ::-webkit-scrollbar {
    width: 0.31rem;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background-color: hsl(var(--background)) !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: calc(var(--radius) - 4px);
    background-color: hsl(var(--muted)) !important;
  }
  html {
    scrollbar-color: hsl(215.4 16.3% 46.9% / 0.3);
  }

  html.dark {
    scrollbar-color: hsl(215.4 16.3% 56.9% / 0.3);
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
  }

  ::view-transition-old(root) {
    z-index: 1;
  }

  ::view-transition-new(root) {
    z-index: 2147483646;
  }

  .dark::view-transition-old(root) {
    z-index: 2147483646;
  }

  .dark::view-transition-new(root) {
    z-index: 1;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-iranyekan text-text;
  }
  .dark {
    color-scheme: dark;
  }
}

@layer components {
  .icon-btn {
    @apply flex size-10 items-center justify-center rounded-lg border bg-muted p-2 text-text/60 outline-none duration-200 hover:bg-background md:size-9 md:p-1.5 [&>span]:size-full;
  }
  .gradient-border-x {
    background: linear-gradient(
      to right,
      hsl(var(--secondary)) 0%,
      hsl(var(--border)) 50%,
      hsl(var(--secondary)) 100%
    );
  }
  .gradient-border-y {
    background: linear-gradient(
      to bottom,
      hsl(var(--secondary)) 0%,
      hsl(var(--border)) 50%,
      hsl(var(--secondary)) 100%
    );
  }
}
